.loteria-element-visualizer {
    width: 50px;
    height: 78px;
    position: fixed;
    top: 10px;
    right: 10px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

.loteria-element-visualizer-image {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .loteria-element-visualizer {    
        width: 20vw;
        height: 30vw;
        position: fixed;
        top: 24%;
        right: 20%;
        border-color: black;
        border-width: 3px;
        border-style: solid;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}