.loteria-card-element {
    width: 24.6%;
    height: 24.7%;
    float: left;
    margin: 0.2%;
    position: relative;
}

.loteria-card-element-image {
    width: 98%;
    height: 100%;
    position: absolute;
}

.loteria-card-element-image-indicator {
    position: relative;
    width: 50%;
    height: auto;
    top: 40%;
    left: 30%;
}